* {
  font-family: 'Roboto', sans-serif;
  color: #454F58;
  line-height: 1.5;
  margin-left: 30px;
}

a {
  margin: 0px;
}

button {
  padding: 5px;
  border: 1px solid #454F58;;
  border-radius: 5px;
}

#back-to-blog {
  color: #02B3E4;
  text-decoration: none;
}

.head-wrapper {
  display: flex;
  flex-direction: row;
  margin: -15px 0 0 25px;
}

.avatar-head {
  display: inline-block;
  margin: 0px;
}

#avatar {
  width: 135px;
  height: 135px;
  border: solid #02B3E4 4px;
  border-radius: 50%;
  margin: 0px;
}

.avatar-description {
  margin: -5px 0 0 0;
  font-size: 0.9em;
}

#author-name {
  color: #02B3E4;
  margin-left: 15px;
  font-size: 1.1em;
  font-weight: bold;
}

#author-description {
  margin-left: 15px;
  margin-top: -15px;
  font-style: italic;
  font-weight: bold;
}

#short-bio {
  margin-left: 15px;
  margin-top: 5px;
}

.banner {
  margin-top: 25px;
  width: 1000px;
  height: 250px;
  text-align: center;
  font-size: 2em;
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-rows: auto;
  grid-template-areas: "grid-image grid-banner grid-banner grid-banner grid-banner"
                       "grid-image grid-banner grid-banner grid-banner grid-banner"
                       "grid-image grid-banner grid-banner grid-banner grid-banner"
                       "grid-image grid-banner grid-banner grid-banner grid-banner"
                       "grid-image grid-banner grid-banner grid-banner grid-banner"
                       "grid-caption grid-banner grid-banner grid-banner grid-banner";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 2px solid #454F58;
  border-radius: 15px;
}

#banner-text {
  padding-top: 75px;
  margin: 0;
  color: #454F58;
  text-align: center;
  grid-area: grid-banner;
}

#banner-img {
  margin-left: 0px;
  height: 200px;
  grid-area: grid-image;
  border-radius: 15px;
}

#img-text {
  padding: 0px;
  background-color: white;
  color: #454F58;
  margin-left: 0px;
  font-size: 0.6em;
  grid-area: grid-caption;
  margin-top: 5px;
  font-style: italic;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

code, strong {
  margin: 0;
}

blockquote {
  border-left: 4px solid #02B3E4;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  background-color: #F7F7F8;
  width: 70%;
}

ul, ol {
  padding-left: 0;
}

li {
  padding-left: 5px;
}

i {
  color: #454F58;
  font-size: 2em;
  padding: 0 15px 0 0px;
}

#social-media {
  margin-top: -5px;
  margin-left: -15px;
}