* {
  font-family: 'Roboto', sans-serif;
  color: #454F58;
  line-height: 1.5;
  margin-left: 35px;
}

code, strong {
  margin: 0;
}



blockquote {
  border-left: 4px solid #02B3E4;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  background-color: #F7F7F8;
  width: 70%;
}

.banner {
  width: 1000px;
  height: 250px;
  background-color: grey;
  text-align: center;
  font-size: 2em;
}

#banner-text {
  padding-top: 105px;
  color: white;
}

.avatar-head {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #02B3E4;
  border-radius: 50%;
  
}

#placeholder {
  margin: 0;
  color: white;
  padding-top: 35px;
  padding-left: -15px;
  text-align: center;
}

ul, ol {
  padding-left: 0;
}

li {
  padding-left: 5px;
}