@import "font.css";
@import "site-nav-bar.css";
@import "site-footer.css";

.container > .container-card> .world {
  color: #02B3E4;
  font-weight: bold;
}

.container > .container-card> .design {
  color: #15C26B;
  font-weight: bold;
}

.container > .container-card> .date {
  color: grey;
  font-weight: bold;
}

.container > .container-wider-card> .date {
  color: grey;
  font-weight: bold;
}

h1 {
  color: #6D7780;
  text-decoration: underline;
  text-align: center;
}

h2 {
  color: black;
  margin-bottom: -15px;
}

.container-card:hover {
  transform: scale(1.03);
  transition-delay: 0.5s;
  transition: transform 0.2s;
  border: 3px solid #6D7780;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a {
  color: #02B3E4;
}

@media(min-width: 901px) {
  .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  }

  .container-card {
  border: 2px solid #6D7780;
  width: 30%;
  margin: 15px 15px 25px 15px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}

@media(max-width: 900px) {
  .container {
  display: flex;
  flex-direction: column;
  }

  .container-card {
  border: 2px solid #6D7780;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}